{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - Electrical safety in rented homes{% endblock %}
{% block description %}All landlords have a legal duty to make sure that electrical appliances and wiring in your home are safe.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Electrical safety in rented homes</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>Electrical safety in rented homes<br>
                <small>All landlords have a legal duty to make sure that electrical appliances and wiring
                        in your home are safe.</small>
            </h1>
        </div>

    <h2>Landlord's responsibility for electrical safety</h2>
        <p>All landlords have a legal duty to make sure the wiring in rented homes is safe. Any electrical
            appliances they provide must be safe to use. This applies if you are a private, housing association
            or council tenant.</p>
        <p>Your landlord should arrange regular basic safety checks for the electrics and appliances such as cookers,
            washing machines and fridges.</p>
        <p>Your landlord can arrange for an electrical inspection by a qualified electrician before you move in.</p>
        <p>If you
            <a title="see also: HMOs"
                     href="{% url 'website:renters-houses_in_multiple_occupation_hmo' %}">
            live in a shared house</a> your landlord must have an inspection carried out every five years.</p>
        <p>Electrical appliances that have been checked by an electrician should have a PAT (portable appliance test)
            sticker on the plug. This shows the date it was tested.</p>

    <h3>Electrical safety in a house in multiple occupation</h3>
        <p>If you live in a shared house that has to be licensed by the council, your landlord must have the
            electrics checked every five years.</p>
        <p>The landlord must get an electrician's periodic inspection report showing the property continues to be safe.
            This must be available to tenants.</p>
        <p class="inline-callout internal">Find out
            <a href="{% url 'website:renters-houses_in_multiple_occupation_hmo' %}"
               title="see also: HMOs">more about houses in multiple occupation</a>.</p>

    <h2>Safety of your own appliances</h2>
        <p>The condition and safety of appliances you bring into your home are your responsibility.</p>
        <p>If you have any doubts about the safety of your appliance, get it tested or replace it.</p>


    <h2>Signs that appliances are a safety risk</h2>
        <p>Danger signs when using appliances include:</p>
        <ul>
            <li>frayed, cut or damaged leads</li>
            <li>cracked cases on plugs</li>
            <li>burn marks on plugs or leads</li>
            <li>blown fuses</li>
            <li>loose cord grips in plugs or appliances</li>
            <li>smell of burnt plastic</li>
        </ul>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>


    <h2>Ask your landlord about electrical safety</h2>
        <p>Tell your landlord immediately about any problems with appliances or the electrics to your
            landlord without delay.</p>
        <p>Find out more about:</p>
        <ul>
            <li>
                <a title="see also: report repairs"
                   href="{% url 'website:renters-how_to_report_repairs_to_a_private_landlord' %}">
                    reporting repairs to a private landlord</a></li>
            <li>
                <a title="see also: report repairs to council or housing association landlords"
                   href="{% url 'website:renters-how_to_report_repairs_to_a_social_landlord' %}">
                    reporting repairs to a council or housing association</a></li>
        </ul>
        <p class="inline-callout highlight">You must allow your landlord or an electrician access to your home
            to inspect or fix a problem. Your landlord should give you at least 24 hours' notice,
            unless it's an emergency.</p>
        <p>If you have any questions about electrical safety in your home, ask your landlord for a copy
            of an electrician's inspection report.</p>

    <h2>If your landlord won't deal with safety complaints</h2>
        <p>If you've reported an electrical problem to your landlord and they refuse to fix it or they ignore
            your request, contact
            <a title="see also: Complain to environmental health about rented housing"
               href="{% url 'website:renters-complain_to_environmental_health_about_rented_housing' %}">
                your local council's environmental health team</a>.</p>

        <p>The council can take action against landlords who don't comply with safety rules.</p>

        <p class="inline-callout internal">Find out more about problems with repairs in
            <a title="see also:What to do if your landlord won&rsquo;t do repairs"
               href="{% url 'website:renters-what_to_do_if_your_landlord_wont_do_repairs' %}">
                private rented homes</a> and
            <a title="see also: Complain about council or housing association repairs"
               href="{% url 'website:renters-complain_about_council_or_housing_association_repairs' %}">
                council or housing association homes</a>.

        <p class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">
                        Contact Represent</a>
                    </p>

    </div>
</div>
{% endblock %}





