{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - Eviction notices from private landlords{% endblock %}
{% block description %}Private tenants are usually entitled to written notice to leave their homes.
How much notice you get depends on the type of tenancy you have and the reason you are being evicted.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Eviction notices from private landlords</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>Eviction notices from private landlords<br>
                <small>Private tenants are usually entitled to written notice to leave their homes.
                        How much notice you get depends on the type of tenancy you have and the reason you are being evicted.</small>
            </h1>
        </div>

    <h2>Does&nbsp;a landlord have to give&nbsp;written notice?</h2>
        <p>Most tenants are entitled to a written notice to leave even if your landlord did not give you a written
            agreement to live there in the first place.</p>
        <p>After the notice expires your landlord must
            <a title="see also: what is a possession order"
               href="{% url 'renters-what_is_a_possession_order_for_eviction' %}">
                apply to the court for a possession order</a>.</p>
        <p>But if you share living accommodation such as a kitchen or bathroom with your landlord (you are an
            <a title="See also: eviction of excluded occupiers"
               href="{% url 'website:renters-eviction_of_lodgers_and_other_excluded_occupiers' %}">
                excluded occupier</a>), the landlord only has to give you reasonable notice to leave.</p>


    <h2>A&nbsp;notice has to include certain information</h2>
        <p>The information that has to be included in the notice varies depending on the
            <a href="{% url 'website:renters-types-of-renting-agreement' %}"
               title="See also: Types of renting agreement">type of tenancy</a> you have.</p>
        <p>The information that is required may include:</p>
        <ul>
            <li>your name and address</li>
            <li>your landlord's name and address</li>
            <li>the date you have to leave</li>
            <li>the reason your landlord is evicting you</li>
            <li>information about where you can get advice</li>
        </ul>

    <h2>Restrictions on when a landlord can give notice</h2>
        <p>When you can be given the notice depends on the reason your landlord is evicting you and the type of tenancy you have.</p>
        <p>If you have a
            <a title="see also: ending a fixed term tenancy"
               href="{% url 'website:renters-how_tenants_can_end_a_fixed_term_tenancy' %}">
                fixed-term tenancy</a> (for a set period, such as 6 months) the landlord can give you notice
            any time but&nbsp;it cannot take effect until the end of that fixed period&nbsp;unless:</p>
        <ul>
            <li>they can prove a legal&nbsp;reason (or 'ground for possession')&nbsp;to evict you, or</li>
            <li>there is a 'break clause' in your tenancy agreement that allows this</li>
        </ul>
        <p class="inline-callout">Your landlord can give you notice any time if you have a
            <a title="see also: ending a periodic tenancy"
               href="{% url 'website:renters-ending_a_periodic_tenancy' %}">
                periodic tenancy</a> (one which runs from week to week, or month to month).</p>

    <h2>When&nbsp;you have to leave</h2>
        <p>The notice must set a date. This can be a date after which your landlord can apply to the
            court for a possession order. Or it can be a date after which your landlord wants you to leave.</p>
        <p>There are rules about the earliest this date can be depending on the type of tenancy you have
            and the reason your landlord is evicting you.</p>
        <p>You do not have to leave after the notice period runs out unless
            <a title="See also: excluded occupiers"
               href="{% url 'website:renters-excluded_occupiers' %}">
                you are an excluded occupier</a>.</p>

    <h2>Notice for&nbsp;an assured shorthold tenancy</h2>
        <p>Your landlord can use a section 21 notice to give you 2 months' notice to leave if you are an
            <a title="see also: assured shorthold tenancies "
               href="{% url 'website:renters-assured-shorthold-tenancies' %}">
                assured shorthold tenant</a>.</p>
        <p>If the
            <a title="see also; section 21 notice eviction"
               href="{% url 'website:renters-section_21_eviction_process' %}">
                section 21 notice is valid</a>, the court must grant a court order that requires you to leave.</p>
        <p>When the section 21 notice takes effect depends on whether you have:</p>
        <ul>
            <li>a fixed-term tenancy &ndash; for a fixed period of time (for example 6 months or 1 year)</li>
            <li>a periodic tenancy &ndash; running indefinitely from one rent period to the next (for example
                from week to week, or month to month)</li>
        </ul>
        <p>If you paid a deposit, a section 21 notice can only be used if your landlord has
            <a href="{% url 'website:renters-tenancy_deposit_protection_rules' %}"
               title="See also: Tenancy deposit protection scheme rules">
                protected your deposit</a>.</p>
        <p>Your landlord can use a quicker route for eviction called
            <a title="see also: Eviction using the accelerated possession procedure"
               href="{% url 'website:renters-eviction_using_the_accelerated_possession_procedure' %}">
                the accelerated possession procedure</a>, as long as you do not owe any money.</p>
        <p>Your landlord can also take you to court to evict you for reasons such as rent arrears or antisocial behaviour.</p>
        <p>Find out&nbsp;
            <a title="see also: eviction of assured shorthold tenants"
               href="{% url 'website:renters-eviction-of-assured-shorthold-tenants' %}">
                more about the eviction of assured shorthold tenants</a>.</p>

   <h2>Notice&nbsp;for an assured tenancy</h2>
        <p>If you are an
            <a title="see also: assured tenants"
               href="{% url 'website:renters-assured_tenancies' %}">
                assured tenant</a> your landlord must give either 2 months' or 2 weeks' notice depending
            on the reason you are being evicted.</p>
        <p>But if your landlord wants to evict you because of serious antisocial behaviour the notice can
            take effect immediately.</p>
        <p>After the notice expires your landlord can
            <a title="see also: what is a possession order"
               href="{% url 'renters-what_is_a_possession_order_for_eviction' %}">
                apply to the court for a possession order</a>.</p>
        <p class="inline-callout">Find out&nbsp;
            <a title="see also: eviction of assured tenants"
               href="{% url 'website:renters-eviction_of_assured_tenants' %}">
                more about the eviction of assured tenants</a>.</p>

   <h2>Notice&nbsp;for a regulated tenancy</h2>
        <p>If you are a <a title="see also: eviction of regulated tenants "
                           href="{% url 'website:renters-eviction_of_regulated_tenants' %}">
            regulated tenant&nbsp;</a>
            your landlord must usually give you a written 'notice to quit' that does not expire for at least 28 days.</p>
        <p>The notice must also:</p>
        <ul>
            <li>end on a day that your rent is due</li>
            <li>explain your landlord must get a court order before you have to leave</li>
            <li>contain information about where you can get advice</li>
        </ul>
        <p>Your landlord also needs a legal reason to evict you.</p>

   <h2>Notice if&nbsp;you are&nbsp;an occupier with basic protection</h2>
        <p>If you are an
            <a title="See also: eviction of occupiers with basic protection"
               href="{% url 'website:renters-eviction_of_students_in_halls_and_other_occupiers_with_basic_protection' %}">
                occupier with basic protection</a> the notice your landlord must give depends on&nbsp;whether you have:</p>
        <ul>
            <li>a fixed-term tenancy &ndash; for a fixed period of time (for example 6 months or 1 year)</li>
            <li>a periodic tenancy &ndash; running indefinitely from one rent period to the next
                (for example from week to week, or month to month)</li>
        </ul>
        <p>After a fixed-term tenancy ends your landlord can apply to the court for a possession order straight away.
            They do not have to give you any other notice.</p>
        <p>If you have a periodic tenancy the amount of notice you must be given depends on how often you should pay your rent.
            If you pay rent weekly you must be given 4 weeks' notice.
            If you pay monthly you must be given 1 month's notice. If you pay rent quarterly you must be given 3 months' notice.</p>
        <p>The notice must also:</p>
        <ul>
            <li>end on a day that your rent is due</li>
            <li>explain your landlord must get a court order before you have to leave</li>
            <li>tell you where to get advice</li>
        </ul>

    <h2>If you share with your landlord</h2>
        <p>Excluded occupiers (such as people who share facilities with their landlord) are only entitled
            to 'reasonable' notice.</p>
        <p>This notice does not have to be in writing.</p>
        <p>Find out more about the&nbsp;
            <a title="see also: eviction of excluded occupiers"
               href="{% url 'website:renters-eviction_of_lodgers_and_other_excluded_occupiers' %}">
                eviction of excluded occupiers</a>.</p>

   <h2>After&nbsp;a notice period ends</h2>
        <p>You do not have to leave until the landlord gets a
            <a title="see also: what is a possession order"
               href="{% url 'renters-what_is_a_possession_order_for_eviction' %}">
                possession order from the court</a>, unless you are
            <a title="see also: eviction of excluded occupiers."
               href="{% url 'website:renters-eviction_of_lodgers_and_other_excluded_occupiers' %}">
                an excluded occupier.</a></p>
        <p>Get advice&nbsp;as soon as you can if you receive a letter or notice from your landlord asking you to leave.
            An adviser can check whether you will have to leave.</p>
        <p>Find out
            <a href="{% url 'website:renters-reasons_your_landlord_can_evict_you' %}"
               title="see also: reasons for eviction">more about reasons for eviction</a>.</p>
        <p>Your landlord can usually apply to the court for a possession order straight after the
            notice period ends. If this happens
            <a title="see also: eviction documents from the court"
               href="{% url 'website:renters-eviction_documents_the_court_sends_you' %}">
                the court will contact you</a>.</p>

    </div>
</div>

{% endblock %}





