{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - Housing disrepair: check if you can claim compensation{% endblock %}
{% block description %}You can ask your landlord to pay you compensation if disrepair caused damage to your health or your belongings.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Housing disrepair: check if you can claim compensation</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>Housing disrepair: check if you can claim compensation<br>
                <small>You can ask your landlord to pay you compensation if disrepair caused damage to your health or your belongings.</small>
            </h1>
        </div>

    <h2>When you can claim compensation</h2>
        <p>You can start court action to claim compensation during your tenancy or up to 6 years after it ends.</p>
        <p>If you start your claim during your tenancy, you can also ask the court to order your landlord to do repair works.</p>
        <p>You can't take court action for compensation unless you report the repair problem to your landlord during your tenancy.</p>
        <p>You may prefer to start a compensation only claim after your tenancy ends.</p>
        <p class="inline-callout internal">Find out more about&nbsp;
            <a title="see also:Legal action if your landlord won't do repairs"
               href="{% url 'website:renters-legal_action_if_your_landlord_wont_do_repairs' %}">
                how to take legal action</a>.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

   <h2>What you can claim for</h2>
        <p>You can make a claim for compensation if repair problems in your home:</p>
        <ul>
            <li>made you or someone in your household ill</li>
            <li>damaged your belongings</li>
            <li>caused you inconvenience</li>
        </ul>
        <p>You can also claim compensation if you haven't been able to use your home in the normal way because of repair problems.</p>
        <p class="inline-callout internal">Find out more about
            <a title="see also: responsibility for repairs"
               href="{% url 'website:renters-landlord_and_tenant_responsibilities_for_repairs' %}">
                landlords' responsibility for repairs</a>.</p>

   <h2>Compensation for your belongings</h2>
        <p>You can claim compensation for items of yours that were damaged or destroyed because of your landlord's
            failure to carry out repairs. For example clothing and bedding ruined by mould or furniture damaged by water leaks.</p>
        <p>You can also claim compensation for your belongings that were damaged or broken by repair work.</p>
        <p>You can claim the cost of replacing items that were damaged or destroyed. This might only be the
            second-hand value of the goods, unless it's not possible or reasonable to buy second-hand replacements.</p>

   <h2>Damage to health</h2>
        <p>You can claim compensation if you or anyone in your household was injured or made ill (or more ill) as a
            result of the landlord's failure to carry out repairs. The health problems can be physical or mental.</p>
        <p>The amount of damages you can claim depends on how ill you were and how long the illness lasted.</p>
        <p>If you were&nbsp;unable to work you&nbsp;could claim for loss of earnings and for any extra care you needed.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

   <h2>Inconvenience</h2>
        <p>You can claim compensation if you've suffered inconvenience or have not been able to use your home in the
            normal way as a result of:</p>
        <ul>
            <li>the landlord's failure to repair your home</li>
        <li>significant disruption during the repair work</li>
        </ul>
        <p>How much compensation you can get depends on the level of disrepair, the rent you pay and the repair
            problem's effect on you and your family.</p>

   <h2>Reduction of rent</h2>
        <p>You can claim a reduction or refund of rent if you haven't been able to use part or all of your
            home because of the disrepair.</p>
        <p>The amount you can ask for depends on how much of your home can't be lived in.</p>
        <p>If you can only use half of your home, the court may decide that your rent should be reduced or refunded by 50%.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

    </div>
</div>

{% endblock %}





