{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent Renters Deposit Protection Check{% endblock %}
{% block description %}Represent Renters Deposit Protection Check{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Housing Advice</small></h1>
              </div>
            </div>
        </div>


<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>Browse advice by topic<br>
            </h1>
        </div>

        <h2>Browse advice by topic</h2>
            <ul>
                <li>
                    <a href="https://england.shelter.org.uk/housing_advice/private_renting">Private renting</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/tenancy_deposits">Tenancy deposits</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/repossession">Repossession</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/eviction">Eviction</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/repairs">Repairs</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/housing_benefit">Housing benefit</a>
                </li>
                <li>
                    <a href="http://england.shelter.org.uk/housing_advice/council_housing_association">Council housing</a>
                </li>
            </ul>
    <hr>

            <h2>Popular articles</h2>
            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/homelessness/guide/get_help_from_your_council_when_homeless/overview" title="What is homelessness?">What is homelessness?</a>
                </h3>
                <p>A stay on a friend's sofa isn't a permanent home. Find out who counts as homeless</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/homelessness/articles/get_a_place_to_stay_if_youre_homeless_and_on_the_streets" title="Emergency housing">Emergency housing</a>
                </h3>
                <p>Homeless now? Get advice and find out how the council has to help</p>
            </article>

            <article class="">
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/council_housing_association/who_is_eligible_to_apply_for_council_housing" title="Who is eligible to apply for council housing?">Who is eligible to apply for council housing?</a>
                </h3>
                <p>Immigration status and time spent living in another country affect who can apply</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/private_renting/costs_of_private_renting" title="Costs of private renting">Costs of private renting</a>
                </h3>
                <p>If you're thinking about renting, make sure you can afford it</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/tenancy_deposits/how_to_get_your_tenancy_deposit_protected" title="Protecting your tenancy deposit">Protecting your tenancy deposit</a>
                </h3>
                <p>What you can do if your landlord hasn’t protected your deposit</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/eviction/section_21_eviction_process" title="Eviction with a Section 21 notice">Eviction with a Section 21 notice</a>
                </h3>
                <p>Find out the three steps landlords must follow to evict you from your private rented home</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/housing_advice/repairs/responsibility_for_repairs_in_leasehold_flats_and_houses" title="Landlord and tenant responsibilities for repairs">Responsibility for repairs</a>
                </h3>
                <p>Your landlord is responsible for most repairs but tenants have obligations too</p>
            </article>

            <article>
                <h3 class="u-margin-bottom-0">
                    <a href="http://england.shelter.org.uk/get_advice/downloads_and_tools/sample_letters" title="Shelter template letters">Shelter template letters</a>
                </h3>
                <p>Editable letters to help you get your deposit back, claim housing benefit, get repairs done or apply as homeless</p>
            </article>
        </div>

            </div>
        </div>

{% endblock %}



