{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - How to rent from a private landlord or letting agent{% endblock %}
{% block description %}The funds, documents and information you'll need to have ready before you start looking for a place to rent.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">How to rent from a private landlord or letting agent</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>How to rent from a private landlord or letting agent<br>
                <small>The funds, documents and information you'll need to have ready before you start
                        looking for a place to rent.</small>
            </h1>
        </div>

    <h2>What to ask before you rent</h2>
        <p>Ask the landlord or letting agent:</p>
        <ul>
            <li>how much the rent is and how often is it paid</li>
            <li>the amount needed for a tenancy deposit</li>
            <li>what fees and charges are made (including fees if your tenancy is renewed)</li>
            <li>if you'll get a refund of fees if you change your mind or if the landlord decides not to rent to you</li>
            <li>to show you the tenancy agreement you'll be asked to sign</li>
        </ul>

    <h2>View the property</h2>
        <p>Make sure that you
            <a href="{% url 'website:renters-tips_for_viewing_a_home_to_rent' %}"
               title="See also: viewing the property">view the property</a>
            you want to rent before you pay a deposit or rent in advance.</p>
        <p>Watch out for scams where you are asked to pay a deposit on a property that either doesn't exist or has
            already been rented out.</p>
        <p class="inline-callout highlight">Find out&nbsp;
        <a title="Link to Action Fraud - rental fraud" href="./?a=617405" target="_blank">
            more from Action Fraud about rental fraud</a>.</p>

    <h2>Letting agent fees</h2>
        <p>If you find a home through a letting agent, you will usually have to pay
            <a href="{% url '{% url 'website:renters-letting_agent_fees_for_tenants' %}' %}"
               title="see also: letting agent fees">letting agency fees</a>.</p>
        <p>The letting agents must clearly set out details of their fees on their websites and in their offices.</p>
        <p>You shouldn't be asked to pay for registering your details or for being given details of the
            properties they have available.</p>

    <h2>Documents to show&nbsp;</h2>
        <p>Landlords or letting agents expect you to prove your identity, show that you are reliable and that
            you can afford the rent.</p>
        <p>They may ask for documents such as:</p>
        <ul>
            <li>recent bank statements</li>
            <li>your pay slips&nbsp;or&nbsp;your accounts if you work for yourself</li>
            <li>proof of benefit awards</li>
            <li>your employment contract</li>
        </ul>
        <p>Landlords and letting agents will also ask you to prove you have the right to stay in the UK.
            You'll be asked to provide your passport or other documents as part of&nbsp;
            <a href="{% url 'website:renters-right_to_rent_immigration_checks' %}"
               title="see also: right to rent immigration checks">right to rent immigration checks</a>.</p>
        <p>Landlords can also ask for references from an employer or previous landlord.</p>

    <h2>Credit checks&nbsp;</h2>
        <p>The landlord or their letting agent may carry out a credit check on you when you apply
            to rent a house or flat.&nbsp;</p>
        <p>They'll ask a credit reference agency to check if you've had problems paying bills in the past.&nbsp;
            They can&rsquo;t carry out a credit check without your permission.&nbsp;</p>
        <p>If there are any problems with the credit check, you could be asked to provide a guarantor as
            a condition of renting to you.</p>

    <h2>Guarantors</h2>
        <p>You may need a guarantor if you:</p>
        <ul>
            <li>are a student or young person renting for the first time</li>
            <li>can't prove that you can pay the rent.</li>
        </ul>
        <p>A guarantor is someone who signs a document agreeing to pay the rent or cover damage to the
            property if you don't pay it.&nbsp;Guarantors must usually be UK residents who own property.</p>
        <p>Many young people ask their parents or another family member to be their guarantor.</p>
        <p>Your guarantor must sign a guarantor agreement. This is a legally binding contract and your
            guarantor should check it carefully.&nbsp;</p>
        <p>Some commit the guarantor to pay more than just your rent. The guarantor may risk also being held
            liable for joint tenants unpaid rent​&nbsp;if you're in a house share.</p>

    <h2>Rent in advance and tenancy deposits</h2>
        <p>Before you move in, you will usually have to pay:</p>
        <ul>
            <li>rent in advance</li>
            <li>a tenancy deposit</li>
        </ul>
        <p>This means you will normally need to be able to pay at least two month&rsquo;s rent before you move in.</p>
        <p>You may be able to get help paying your deposit through a
            <a title="See also: Rent deposit, bond and guarantee schemes"
               href="{% url 'website:renters-rent_deposit_bond_and_guarantee_schemes.html' %}">
                rent deposit or bond scheme</a>.</p>
        <p>Your tenancy deposit must be&nbsp;
            <a href="{% url 'website:renters-tenancy_deposit_protection_rules' %}"
               title="see also: tenancy deposit protection schemes rules">
                protected in a government-backed scheme</a> if you are an assured shorthold tenant.&nbsp;</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for unprotected deposit</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation if your landlord hasn't protected your deposit.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">
                        See if you can make a deposit protection claim</a></p>

</div>

    <h2>Benefits to help pay the rent</h2>
        <p>Before you pay any fees or sign any agreements, ask the letting agent if the landlord accepts tenants who
            are claim benefits.&nbsp;Not all landlords do.</p>
        <p>You may be able to claim housing benefit or universal credit housing costs to help you pay the rent.</p>
        <p>You usually need to pay the first month's rent yourself&nbsp;because these benefits are paid in arrears.</p>
        <p>You can ask if they would rent to you if the&nbsp;council agrees to
            <a title="See also: What is local housing allowance (LHA)?"
               href="http://england.shelter.org.uk/housing_advice/housing_benefit/what_is_local_housing_allowance_lha">
                pay your housing benefit direct to your landlord</a>.
            The&nbsp;DWP may agree to pay universal credit housing costs direct.</p>
        <p class="inline-callout highlight">Check
            <a title="Link to Direct.gov &ndash; Local Housing Allowance rates: search by postcode or local authority"
               href="http://england.shelter.org.uk/legal/benefits/local_housing_allowance/how_lha_is_calculated/essential_links/lha_-_calculater_your_local_housing_allowance"
               target="_blank">local housing allowance (LHA) rates</a> in your area to see the maximum that can be paid.</p>

    <h2>Check the contract before you sign</h2>
        <p>Most private tenants have an&nbsp;
            <a href="{% url 'website:renters-assured-shorthold-tenancies' %}"
               title="see also: assured shorthold tenancies">assured shorthold tenancy.</a></p>
        <p>Check the tenancy agreement carefully before you sign it. This sets out the rights and responsibilities
            that you and your landlord have during your tenancy.</p>
        <p>It should tell you what
            <a title="See also: types of renting agreements"
               href="{% url 'website:renters-types-of-renting-agreement' %}">
                type of tenancy</a> you have and how to&nbsp;end or renew your tenancy.</p>

        <div class="bs-callout bs-callout-primary">
    <a href="{% url 'website:contact' %}"><h4>Get in touch with Represent to see how we can help</h4></a>
    <p></p>
    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>
</div>

    </div>
</div>

{% endblock %}





