{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - Poor conditions in council or housing association homes{% endblock %}
{% block description %}If poor conditions in your home are putting your health at risk, report them to your landlord immediately.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Poor conditions in council or housing association homes</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-1">
        <div class="page-header">
            <h1>Poor conditions in council or housing association homes<br>
                <small>If poor conditions in your home are putting your health at risk, report them to your
                        landlord immediately.</small>
            </h1>
        </div>

    <h2>Conditions that can affect your health or safety</h2>
        <p>It's important to deal with problems in your home such as:</p>
        <ul type="disc">
            <li><a href="{% url 'renters-damp_and_mould_in_rented_homes' %}"
                               title="see also: damp and mould">damp, condensation, and mould</a></li>
            <li><a href="{% url 'renters-pests_and_vermin_infestations_in_rented_homes' %}"
                   title="see also: pests and vermin">rats, cockroaches and other infestations</a></li>
            <li><a href="{% url 'renters-gas_safety_in_rented_homes' %}"
                   title="see also: gas safety">gas safety</a>,
                <a href="{% url 'renters-electrical_safety_in_rented_homes' %}"
                   title="see also: electrical safety">electrical safety</a> and
                <a href="{% url 'renters-fire_safety_advice_for_tenants' %}"
                   title="see also: fire safety">fire safety</a> issues</li>
            <li>broken glass, falling plaster, or dangerous stairs</li>
            <li>blocked drains or problems with rubbish or sewage</li>
            <li>unacceptable noise levels</li>
            <li>damaged asbestos</li>
        </ul>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

    <h2>Report poor conditions</h2>
        <p>You can report poor conditions in the same way as you
            <a href="{% url 'renters-how_to_report_repairs_to_a_social_landlord' %}"
               title="See also: reporting repairs">report repair problems</a>. Tell your landlord how your health or
            safety is affected.</p>
        <p>You must allow your landlord or their contractor access to see what the problem is and what can be done
            about it.&nbsp;Allow a reasonable time for the work to be done.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

    <h2>Complain to environmental health</h2>
        <p>You can contact the
            <a href="{% url 'renters-complain_to_environmental_health_about_rented_housing' %}"
               title="See also: Complain to environmental health">environmental health department</a> at your local council
            if the council or housing association landlord doesn't fix the problems,</p>
        <p>An environmental health officer should inspect your home.&nbsp;They use the
            <a href="{% url 'renters-health_and_safety_standards_for_rented_homes_hhsrs' %}"
               title="See also: Housing Health and Safety Rating System">Housing Health and Safety Rating System</a>
            to check if the conditions in your home are a risk to your health or safety.</p>

    <h3>Council tenants</h3>
        <p>Environmental health can't take formal enforcement action against the council, but it can:</p>
        <ul type="disc">
            <li>serve an informal notice telling your housing office to do repair work</li>
            <li>send them a report that sets out what needs to be done to make your home safe</li>
        </ul>
        <p>Use your council's complaints procedure if the housing office won't do the work that's needed or
            doesn't pay attention to the environment health report.</p>

    <h3>Housing association tenants</h3>
        <p>Environmental health can take enforcement action against the housing association. They may order
            them to&nbsp;take action to tackle the problems in your home.</p>
        <p>Use your housing association's complaints procedure if they won't do the work that's needed.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

   <h3>Problems affecting neighbours</h3>
        <p>The environmental health department may decide that the conditions in your home also cause a nuisance or
            risk to your neighbours or the public.</p>
        <p>These could include:</p>
        <ul type="disc">
            <li>tiles falling off your roof on to the street</li>
            <li>a toilet leaking into the flat downstairs</li>
        </ul>

   <h2>Complain to the Ombudsman</h2>
        <p>If making a complaint to your landlord isn't successful, consider
            <a href="{% url 'renters-complain_to_the_ombudsman_about_repairs_in_social_housing' %}"
               title="see also: complaining to the Ombudsman">complaining to the Ombudsman</a>. You may also be able to
            <a href="{% url 'renters-legal_action_if_your_landlord_wont_do_repairs' %}"
               title="See also: Court action for disrepair">take legal action against your landlord</a>.</p>

         <div class="bs-callout bs-callout-primary">
    <a href="{% url 'contact' %}"><h4>Do you have a renting problem?</h4></a>
    <p></p>
    <p>Get in touch with Represent to see how we can help</p>
    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>
</div>



    </div>
</div>

{% endblock %}





