<div class="bs-callout bs-callout-primary">
    <a href="{% url 'contact' %}"><h4>Get in touch with Represent to see how we can help</h4></a>
    <p></p>
    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>
</div>

<div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

<div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Landlord and tenancy information check service</h4></a>
                    <p></p>
                    <p>Get in touch with Represent today and ask for a landlord and tenancy check</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">COntact Represent</a></p>

                </div>


        <div class="bs-callout bs-callout-primary">
    <a href="{% url 'contact' %}"><h4>Do you have a renting problem?</h4></a>
    <p></p>
    <p>Get in touch with Represent to see how we can help</p>
    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>
</div>


<div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Is your landlord not returning your deposit?</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if we can help you get your deposit back
                    if your landlord is keeping it unfairly.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">
                        Help me get my deposit back</a></p>

</div>

<div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for unprotected deposit</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation if your landlord hasn't protected your deposit.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">
                        See if you can make a deposit protection claim</a></p>

</div>

<div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for illegal eviction</h4></a>
                    <p></p>
                    <p>It may be possible to claim compensation if you have been evicted illegally</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">
                        Contact Represent to claim compensation for illegal eviction</a></p>

</div>