{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - Tenancy agreements in shared homes{% endblock %}
{% block description %}When you move in with other people, you may be offered separate tenancies,
a joint tenancy, or a tenancy in only one person's name. Your tenancy type affects your rights.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Tenancy agreements in shared homes</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-1">

            <div class="page-header">
                <h1>Tenancy agreements in shared homes<br>
                    <small>When you move in with other people, you may be offered separate tenancies,
                        a joint tenancy, or a tenancy in only one person's name. Your tenancy type affects your rights.
                    </small>
                </h1>
            </div>

        <h2>Types of tenancy agreement</h2>

        <p>You have a joint tenancy if all of the people living in the property signed one tenancy agreement
            with the landlord when you moved in.</p>
        <p>Find out more about
            <a title="See also: Joint tenancies"
               href="{% url 'renters-joint_tenancies' %}">
                joint tenancies
            </a>.</p>
        <p>You probably have separate tenancies if&nbsp;each person in your household signed a separate agreement
            with the landlord.</p>
        <p>If one or more people in your household has a tenancy agreement with the landlord but you don't, you
            may only have a licence. This can happen if you've moved in with a friend or partner and have
            made an agreement with your friend or partner, but not with the landlord.</p>
        <p>Find out more about
            <a title="see also:HMOs "
               href="{% url 'renters-houses_in_multiple_occupation_hmo' %}">
                rights and responsibilities in a shared home</a>.</p>

     <h2>Rights of joint tenants</h2>
        <p>If you have a joint tenancy, all the tenants have exactly the same rights. You are all
            equally responsible for paying the rent and keeping to the terms of your agreement.</p>
        <p>Your landlord
            <a title="see also: HMOs"
               href="{% url 'renters-houses_in_multiple_occupation_hmo' %}">
                may need a licence
            </a> if your home has a certain number of people.</p>
        <p>Your landlord is responsible for
            <a title="see also: Landlord and tenant responsibilities for repairs"
               href="{% url 'renters-landlord_and_tenant_responsibilities_for_repairs' %}">
                most major repairs
            </a>.</p>
        <p>Energy bills in a shared home are usually
            <a title="See also: Energy costs in shared accommodation "
               href="{% url 'renters-energy_costs_in_shared_accommodation' %}">
                shared between all the tenants
            </a>.</p>
        <p>You could be held responsible for another joint tenant's share of the rent and bills if
            they don't pay their rent or cause other problems.</p>

        <h2>Right to rent</h2>
        <p>From 1 February 2016 you can only become a private tenant or lodger in England if you have
            the right to rent.</p>
        <p>A landlord or letting agent must carry out a right to rent check before you start a private tenancy.</p>
        <p class="inline-callout highlight">Find out
            <a href="{% url 'renters-right_to_rent_immigration_checks' %}"
               title="see also: right to rent immigration checks">more about right to rent immigration checks</a>.</p>

     <h2>Tenancy deposits in shared homes</h2>
        <p>If you are an
            <a href="{% url 'renters-assured_shorthold_tenancies'}"
               title="see also: assured shorthold tenancies">assured shorthold tenant
            </a>, any deposit you paid for your rented home should be
            <a title="see also:tenancy deposits"
               href="{% url 'renters-get-deposit-protected'%}">
                protected
            </a>.</p>
        <p>At the end of the tenancy, your landlord might be entitled to
            <a title="see also:tenancy deposits"
               href="{% url 'renters-tenancy_deposit_deductions_your_landlord_can_make' %}">
                keep some or all of your deposit</a> if there is any rent owing or damage to the property,
            even if it's not your fault.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'contact' %}"><h4>Claim compensation for unprotected deposit</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation if your landlord hasn't protected your deposit.</p>
                    <p><a href="{% url 'contact' %}" class="btn btn-primary btn-lg" role="button">
                        See if you can make a deposit protection claim</a></p>

</div>

     <h2>Ending a joint tenancy</h2>

        <p>When the fixed-term of a joint tenancy has ended or you never had a
            fixed-term agreement, one of the joint tenants can end the tenancy with or without the agreement of
            other tenants. This ends the tenancies of everyone else in the shared home.</p>
        <p>If this happens, all tenants must leave, unless those who want to stay can negotiate a new tenancy with
            the landlord.</p>

        <p>Find out more about
            <a href="{% url 'renters-how_tenants_can_end_a_fixed_term_tenancy' %}"
               title="see also: ending a fixed-term tenancy">ending a fixed-term tenancy
            </a> and
            <a href="{% url 'renters-ending_a_periodic_tenancy' %}"
               title="see also: ending a periodic (month to month) tenancy">
                ending a periodic (month to month) tenancy</a>.</p>

     <h2>Eviction of joint tenants</h2>
        <p>The landlord can't evict one joint tenant without evicting all of you.</p>
        <p>Talk to your landlord about if you want to stay after another joint tenant leaves.&nbsp;
            Your landlord could decide to offer a new tenancy to you and any other tenants who want to
            stay once the original tenancy has ended.</p>


     <h2>Rights of people with separate tenancies</h2>
        <p>If you and your housemates have separate agreements with the same landlord, each of you is responsible
            only for your own rent. This is probably the case even if you share a kitchen or bathroom,
            particularly if you moved in at different times or your landlord found each tenant individually.</p>
        <p>You may have a licence rather than a tenancy if the landlord doesn't tell you which room is yours and you
            sort out the living arrangements between yourselves.</p>
        <p>If you have separate agreements and one of the other tenants is causing problems, your landlord
            could take action to evict them. This won't affect your tenancy.</p>

     <h2>Your rights if the tenancy is not in your name</h2>

        <p>If you live with one or more people who have a tenancy with the landlord but you rent from a tenant,
            you are probably a
        <a title="See also: Subtenants" href="{% url 'renters-subtenants' %}">
            subtenant
        </a> or licensee of the main tenant.</p>
        <p>This means that the person who has made an agreement with the landlord:</p>

        <ul>
            <li>only has to give you reasonable notice if they want you to leave -
                this notice could be a very short amount of time and could be verbal</li>
            <li>is responsible for paying the rent to the landlord &ndash; but everyone else should still pay their
                share</li>
        </ul>
        <p>Check whether the main tenant has permission from their landlord to rent a room out to you, as
            this may affect your rights.</p>


    </div>
</div>









{% endblock %}





