{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent Tenancy deposits{% endblock %}
{% block description %}Get advice about tenancy deposits including how to check it’s protected, how to get it back and deductions your landlord can make.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">Check if your deposit was protected</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
        <div class="col-md-6 offset-md-2">

            <div class="page-header">
                <h1>Tenancy deposits <br></h1>
                    <h2><small>Most landlords ask you to pay a tenancy deposit when you sign up to a new tenancy.
                    It's your money. Find out how to check it's protected and how to get it back when you leave.</small>
                </h2>
            </div>
            <hr>


            <h2>Protecting your tenancy deposit</h2>

        <ul>
            <li><a href="{% url 'website:renters-deposit-check' %}">
                Check if your tenancy deposit is protected</a></li>
            <li><a href="{% url 'website:renters-get-deposit-protected' %}">
                How to get your tenancy deposit protected</a></li>
            <li><a href="{% url 'website:renters-tenancy_deposit_protection_rules' %}">
                Tenancy deposit protection rules</a></li>
        </ul>

            <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for not protecting your deposit</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation if your landlord hasn't protected your deposit.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">
                        See if you can make a deposit protection claim</a></p>

                </div>

    <h2>Getting your tenancy deposit back</h2>
        <ul>
            <li><a href="{% url 'website:renters-tenancy_deposit_deductions_your_landlord_can_make' %}">
                Tenancy deposit deductions your landlord can make</a></li>
            <li><a href="{% url 'website:renters-how-to-get-your-deposit-back' %}'">
                How to get your tenancy deposit back</a></li>
            <li><a href="{% url 'website:deposit-protection-claims' %}">
               Tenancy deposit compensation claims</a></li>
        </ul>

    <h2>Protecting your tenancy deposit</h2>

        <ul>
            <li><a href="{% url 'website:renters-rent_deposit_bond_and_guarantee_schemes.html' %}">
                Check if your tenancy deposit is protected</a></li>
            <li><a href="{% url 'website:renters-letting_agent_fees_for_tenants' %}">
                How to get your tenancy deposit protected</a></li>
            <li><a href="{% url 'website:renters-rent_in_advance' %}">
                Tenancy deposit protection rules</a></li>
        </ul>




    </div>
</div>

</div>
</div>


{% endblock %}





