{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - What counts as a decent home?{% endblock %}
{% block description %}Your council or housing association landlord can improve your home so that it meets the Decent Homes Standard.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">What counts as a decent home?</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1>What counts as a decent home?<br>
                <small>Your council or housing association landlord can improve your home so that it meets the Decent Homes Standard.</small>
            </h1>
        </div>

    <h2>The Decent Home Standard</h2>
        <p>The Decent Homes Standard is a programme aimed at improving council and housing association homes to
            bring them all up to a minimum standard.</p>
        <p>To meet the Decent Home Standard, your council or housing association home must:</p>
        <ul>
            <li>meet the&nbsp;
                <a href="{% url 'website:renters-health_and_safety_standards_for_rented_homes_hhsrs' %}"
                   title="see also: health and safety standards for rented homes">
                    HHSRS minimum safety standards for housing</a></li>
            <li>be in a reasonable state of repair</li>
            <li>have reasonably modern facilities and services</li>
            <li>have efficient heating and effective insulation</li>
        </ul>
        <p>Your home fails the Decent Home Standard if it doesn't meet all four criteria.</p>

   <h2>How homes can fail the Decent Homes Standard</h2>
        <p>Examples of how your home could fail the Decent Homes Standard include if:</p>
        <ul>
            <li>there are
                <a href="{% url 'website:renters-health_and_safety_standards_for_rented_homes_hhsrs' %}"
                   title="see also: Health and safety standards for rented homes">hazards in your home</a>
                such as persistent damp or a heating or electrical system that is in poor condition</li>
            <li>your bathroom has not been improved in the last 30 years</li>
            <li>the kitchen has an inadequate layout or not enough space</li>
            <li>it isn't warm because of an inefficient heating system or ineffective insulation</li>
        </ul>
        <p class="inline-callout internal">Find out
            <a href="{% url 'website:renters-poor_conditions_in_council_or_housing_association_homes' %}"
               title="see also: poor conditions in council or housing association homes">more about poor conditions in council
                or housing association homes</a>.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

   <h2>What your landlord can do to improve your home</h2>
        <p>Your landlord is responsible for most repairs to your home.</p>
        <p>
            <a href="{% url 'website:renters-how_to_report_repairs_to_a_social_landlord' %}"
               title="see also: report repairs to a social landlord">Ask your landlord to carry out repairs</a>.</p>
        <p>Your council or a housing association landlord can arrange to carry out improvement work if your home
            doesn't meet the Decent Homes Standard.&nbsp;This work is often done through a planned improvement programme.</p>
        <p>Different types of work are often done at different times. For example, your landlord could replace all the
            kitchens on an estate in one year, then replace all the windows the next year.</p>
        <p>Your landlord looks at lots of different information to decide if your home meets the
            Decent Home Standard. For example:</p>
        <ul>
            <li>information and complaints from tenants</li>
            <li>repairs and maintenance records</li>
            <li>reports from residents' associations</li>
        </ul><p class="inline-callout internal">Find out more about
        <a href="{% url 'website:renters-landlord_and_tenant_responsibilities_for_repairs' %}"
           title="see also: landlord responsibilities for repair">your landlord's responsibility for repair.</a></p>

   <h2>If your landlord won't do improvement works</h2>
        <p>Your council or housing association landlord might tell you your home won't get any improvement work, perhaps because:</p>
        <ul>
            <li>although your home could be improved overall it meets the Decent Homes Standard</li>
            <li>other local homes are in a worse condition and improvements to them take priority over yours</li>
            <li>your home doesn't need any work</li>
        </ul>
        <p>Get advice if you disagree with your landlord's decision.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>


   <h2>Complain about problems with improvement works</h2>
        <p>Contact your council or housing association&nbsp;landlord if there are problems with the standard of
            work done to bring your home up to the Decent Home Standard.</p>
        <p class="inline-callout internal">Find out
            <a href="{% url 'website:renters-how_to_complain_about_an_unsafe_home' %}"
               title="see also: how to complain about an unsafe home">how to complain about an unsafe home</a>.</p>

        <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>

   <h2>Unsuitable accommodation</h2>
        <p>The Decent Home Standard programme doesn't apply to private rented sector homes.</p>
        <p>If you apply to the council as homeless and the council offers you a private tenancy, it should be
            safe and be in a reasonable condition. If it's not, it won't count as suitable for you and your family.</p>

   <div class="bs-callout bs-callout-primary">
                    <a href="{% url 'website:contact' %}"><h4>Claim compensation for disrepair</h4></a>
                    <p></p>
                    <p>Get in touch with Represent to see if you can claim compensation for disrepair.</p>
                    <p><a href="{% url 'website:contact' %}" class="btn btn-primary btn-lg" role="button">Contact Represent</a></p>

                </div>


    </div>
</div>

{% endblock %}





