{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}Contact represent{% endblock %}
{% block description %}Contact Represent{% endblock %}
{% block author %}Represent{% endblock %}

<h1>Home</h1>

{% block head %}
{% endblock %}

<h1 style="color:black" class="pagination-centered"></h1>
<p></p>


{% block content %}
<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

            <div class="page-header">
                <h1>Contact Represent</h1>
            </div>
            <p>If you currently have a renting problem and would like to know how Represent can help you please contact us
            at <a href="mailto:contact@nralliance.co.uk"> contact@nralliance.co.uk</a> or by completing the form below.  We respond to you message as soon as possible.</p>


        <h1>Contact Represent</h1>
        </div>
</div>
{%  endblock %}



