{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent Privacy Policy{% endblock %}
{% block description %}Represent Privacy Policy{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

            <div class="row">
            <div class="page-header" align="center">
            <h1>Privacy Policy</h1>
        </div>


    <p>Represent Law is committed to safeguarding the privacy of our website visitors and people using our
        services; this policy sets out how we
    will treat your personal information.
</p>
<p>
    The policy reflects our duties under the Data Protection Act to use information fairly, keep it secure, make sure it is accurate and keep it up to date.
    This policy applies to all the pages hosted on this site. It does not apply to other organizations to which we may link and whose privacy policies may
    differ.
</p>
<p>
    Please read the following policy to understand how your personal information will be treated. It may change from time to time, so please check back
    periodically.
</p>

<h2>  How Represent Law uses your personal data</h2>

<p>  All information that Represent Law holds concerning you as an individual will be held and processed strictly in accordance with the
    provisions of the Data Protection Act. </p>

<p>
    Such data will be used by Represent Law to administer your membership record and our relationship with you as a member and to provide
    you with information about Represent Law activities.
</p>

<p>
    Represent Law may contact you at your home address, by telephone, SMS, fax or email. You can change your communication preferences by contacting our data protection officer using the contact information below.
</p>

    <h2>Sharing your personal data within Represent Law</h2>

<p>

    Some of your personal data will be available to Represent Law's employees, for the purposes of carrying out our member's services. </p>

<h2> Privacy and Cookies </h2>
<p>We may collect, and store the following kinds of personal data:

	<ul>
		<li>We will collect information which you give to us via email, the various forms on the website or information voluntarily given to us via telephone or
			postal mail. Some information is gathered when you join or sign up to receive email updates.</li>

		<li>our details may be stored on a “cookie”. This is a tiny element of data that our site can send to your browser, which may then be stored on your hard
			drive. This small amount of information does NOT contain any private information stored on your computer.</li>

		<li> We use Google Analytics analytics to analyse site usage, how our users arrive at our site, what they do on the site, what browser they are using and on
				what operating system etc. However, this analytics data, collected via a JavaScript tag in the pages of our site, is not tied to personally identifiable
				information. </li>
	</ul>



    <h2> Cookies </h2>
	<p>Like most websites, we use cookies on our site to help improve your experience. These include, for example, cookies for analytics that tell us how
    people are using the site to help us improve the information we provide and site navigation. If you do not know what cookies are, or how to control or
    delete them, then we recommend you visit <a href="https://www.aboutcookies.org/">www.aboutcookies.org</a> for detailed guidance of how to manage cookies.</p>

<p>
    Currently we operate an ‘implied consent’ policy which means that we assume you are happy with our use of cookies. If you are not happy, then you could
    delete your cookies having visited the site, or you should browse the site using your browser’s anonymous usage setting (called “Incognito” in Chrome,
    “InPrivate” for Internet Explorer, “Private Browsing” in Firefox and Safari etc.). If you choose not to use cookies, it may be difficult to use some parts
    of our website. For more information about Represent Law's cookie policy please see our
    <a href="{% url 'website:cookie-policy' %}"> <strong>cookies policy</strong>.</a>
	</p>

	<h2>Social media buttons</h2>
	<p> On many of the pages of the site you will see ‘social buttons’. such as share buttons for Twitter, and Facebook ‘Like’ buttons.
	When you click on any of these buttons, these sites will be registering that action and may use that information to improve their services.
    You should check the respective policies of each of these sites to see how exactly they use your information and to find out how to opt out, or delete,
    such information. </p>

	<h2>External web services</h2>
	<p>We use a number of external web services on Represent Law site, mostly to display content within our web pages. For
    example, to display images we sometimes use Flickr; to show videos we use YouTube. This is not an exhaustive or complete list of the services we use, or
    might use in the future, when embedding content, but these are the most common. </p>
    <p>As with the social buttons, these sites may use information about usage of embedded content. If you are not logged in to these external services, then they
    will not know who you are but are likely to gather anonymous usage information e.g. number of views, plays, loads etc.</p>


	<h2> Email tracking </h2>
	<p>Some emails that we send you have no tracking in at all. Other emails we send we put in tracking so that we can tell how much traffic those
    emails send to our site but we do not know who has clicked, so the data is anonymous. </p>

	<h2> How we may use your information </h2>

            <p> Personal data submitted on this website will only be used for the purposes it was collected. We may use your personal information to:

	<ul>
		<li>administer the website;</li>
		<li>improve your browsing experience by personalizing the website;</li>
		<li>enable your use of the services available on the website</li>
		<li>send you email notifications which you have specifically requested;</li>
		<li>deal with inquiries and complaints made by or about you relating to the website;</li>
		<li>for the purpose of direct marketing if you have opted in to a particular service.</li>
        </ul>


    <h2>Sharing of information</h2>
		<p>We may disclose information about you to any of our employees or agents, insofar as reasonably necessary for the purposes as set out in this privacy policy. </p>

		<p>Represent Law will not disclose any of your personally identifiable information to any third party unless we have your permission, or under
			special circumstances, such as when we believe in good faith that the law requires it. </p>

			<p> We will not transfer any information outside of the United Kingdom </p>

			<h2> Our security </h2>

			<p> Represent Law uses industry standard efforts to safeguard the confidentiality of your personally identifiable information, such as
				firewalls and SSL (secure socket layers). We make every effort to protect the loss, misuse and alteration of information under our control. However, data
				transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.</p>

	<p>
    If you have elected to use the “Join online’ service, your Represent Law membership information is password protected so that only you can
    access it and view the member information relative to your account. Ultimately, you are responsible for maintaining the secrecy of your passwords. We also
    do everything in our power to protect your information off-line and only authorized personnel can view your data.
	</p>


    <h2>Access to your personal data</h2>
	<p>
    As an individual, you have a right under the Data Protection Act to obtain information from us, including a description of the data that we hold on you.
	Should you have any queries concerning this right please contact our Data Protection Officer, </p>

	<p>
    Represent Law Ltd
    Office 104 <br/>
	275 Deansgate<br/>
	Manchester<br/>
	Greater Manchester<br/>
	M3 4EL <br/>
    <a href="mailto:{{ represent_contact_email }}">{{ represent_contact_email }}</a></p>


        </div>
     </div>
</div>


{% endblock %}




