{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Represent Website Terms and Conditions{% endblock %}
{% block description %}Welcome to Represent, helping tenants and renters across the UK with deposit recovery, repairs and harassment from bad landlords and letting agents{% endblock %}
{% block author %}Represent{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-md-6 offset-md-2">
                <h1 style="color:black" class="pagination-centered">Website Terms and conditions</h1>
        <p></p>

        <p>
            These terms and conditions outline your obligations when accessing and using the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            The NATIONAL RENTERS ALLIANCE website is provided by the NATIONAL RENTERS ALLIANCE on the following terms:
        </p>
        <p>
            <h2>Acceptance of terms</h2>
        </p>
        <p>
            By using the NATIONAL RENTERS ALLIANCE website you are indicating that you accept these terms and conditions, which shall take effect immediately on your
            first use of the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            If you do not agree to be bound by all of the following terms then you may not access, use and/or contribute to the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            The NATIONAL RENTERS ALLIANCE may change these terms of use from time to time and any revised version will be effective immediately that it is displayed on
            the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            Your continued use of the NATIONAL RENTERS ALLIANCE website will be deemed acceptance of the updated or amended terms.
        </p>
        <p>
            If you do not agree to the changes you should cease using the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            <h2>Your registration obligations and conduct</h2>
            </p>
        <p>
            As a condition of using certain areas of the NATIONAL RENTERS ALLIANCE website you are required to register for a user “account” with a valid log-on ID and
            select a password.
        </p>
        <p>
            You shall provide true, accurate, complete and updated registration information about yourself.
        </p>
        <p>
            You agree to maintain and promptly update your account/registration information to keep it true, accurate, complete and current.
        </p>
        <p>
            If you provide any information that is untrue, inaccurate, not current or incomplete, or the NATIONAL RENTERS ALLIANCE has reasonable grounds to suspect
            that such information is untrue, inaccurate, not current or incomplete, then the NATIONAL RENTERS ALLIANCE has the right to suspend or terminate your
            account and refuse any and all current or future use of the NATIONAL RENTERS ALLIANCE website (or any portion thereof).
        </p>
        <p>
            You are responsible for maintaining the confidentiality of your password and account details, and are fully responsible for all activities that occur under
            your password and account.
        </p>
        <p>
            Your account is non-transferable. You must not to sell or otherwise transfer your account details to another person.
        </p>
        <p>
            You agree to immediately notify the NATIONAL RENTERS ALLIANCE of any unauthorized use of your password or account or of any other breach of security, and
            also ensure that you exit the service at the end of each session.
        </p>
        <p>
            As a condition of use you promise not to use the NATIONAL RENTERS ALLIANCE website for any purpose that is unlawful or prohibited by these terms of use or
            any other purpose not reasonably intended by the NATIONAL RENTERS ALLIANCE
        </p>
        <p>
            <h2>Privacy policy</h2>
        </p>
        <p>
            If you supply personal details to the NATIONAL RENTERS ALLIANCE through the NATIONAL RENTERS ALLIANCE website then you consent to NATIONAL RENTERS ALLIANCE
        maintaining, recording, holding and using such personal data in accordance with its privacy policy</a>.
        </p>
        <p>
            <h2>Intellectual property rights</h2>
        </p>
        <p>
            The NATIONAL RENTERS ALLIANCE owns or is licensed to use all intellectual property rights in and to the NATIONAL RENTERS ALLIANCE website.
        </p>
        <p>
            By using the NATIONAL RENTERS ALLIANCE website and information and documents (“materials”) contained on the NATIONAL RENTERS ALLIANCE website you undertake
            to ensure that the intellectual property rights of the copyright holder are not infringed.
        </p>
        <p>
            Materials contained in the NATIONAL RENTERS ALLIANCE website may be downloaded, viewed and printed for personal non-commercial use only provided that no
            trademark, copyright or other proprietary notices contained in or appearing on such material are removed in whole or in part.
        </p>
        <p>
            All other rights are reserved and users must seek the NATIONAL RENTERS ALLIANCE’s permission before making any other use of material contained in the
            NATIONAL RENTERS ALLIANCE website
        </p>
        <p>
            You agree not to reproduce, alter, amend or change the materials or reproduce any material in whole or in part and shall not allow any unauthorised user to
            have access by any means of any part of the materials.
        </p>
        <p>
            <h2>Limitation of liability</h2>
        </p>
        <p>
            Although every reasonable effort has been made to ensure that the information on the NATIONAL RENTERS ALLIANCE website is accurate at the time of
            publication, it is subject to variation at any time without notice and NATIONAL RENTERS ALLIANCE does not give any warranty that any such information will
            be accurate or complete at any particular time or at all.
        </p>
        <p>
            The NATIONAL RENTERS ALLIANCE website and any information or other material contained in it are made available strictly on the basis that you accept it on
            an “as is” and “as available” basis.
        </p>
        <p>
            Where you rely on any information or other material contained in it, you do so entirely at your own risk and you accept that all warranties, conditions and
            undertakings, express or implied, whether by common law or statute or otherwise in respect of the NATIONAL RENTERS ALLIANCE website are excluded to the
            fullest extent permitted by law.
        </p>
        <p>
            We exclude all liability whatever, to the fullest extent permitted by law, in respect of any loss or damage resulting or arising from any non-availability
            or use of the NATIONAL RENTERS ALLIANCE website or of any other website linked to it, or from reliance on the contents of the NATIONAL RENTERS ALLIANCE
            website or any material or content accessed through it.
        </p>
        <p>
            It is your responsibility to ensure that you have the appropriate protection against viruses and other security arrangements in place whilst using the
            Internet.
        </p>
        <p>
            <h2>Availability</h2>
        </p>
        <p>
            Owing to the nature of the Internet the NATIONAL RENTERS ALLIANCE cannot guarantee that the NATIONAL RENTERS ALLIANCE website or the websites to which it
            is linked will always be available to use.
        </p>
        <p>
            <h2>Links</h2>
        </p>
        <p>
            Links from the NATIONAL RENTERS ALLIANCE website are provided for information and convenience only and the NATIONAL RENTERS ALLIANCE has no control over
            these and cannot therefore accept responsibility or liability for the content of any linked third-party website. The NATIONAL RENTERS ALLIANCE does not
            endorse any linked website.
        </p>
        <p>
            <h2>Termination</h2>
        </p>
        <p>
            The NATIONAL RENTERS ALLIANCE may terminate or suspend any and all services and your account immediately, without prior notice or liability and may refuse
            any future use of the NATIONAL RENTERS ALLIANCE website (or any portion thereof), if you breach any of the terms or conditions of these terms of use. Upon
            termination of your account, your right to use the services will immediately cease.
        </p>
        <p>
            If you wish to terminate your account, you may simply discontinue using the services. All provisions of the terms of use which by their nature should
            survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of
            liability.
        </p>
        <p>
            <h2>Jurisdiction</h2>
        </p>
        <p>
            These terms of use are governed by the law of England and Wales and are subject to the exclusive jurisdiction of the English courts.
        </p>
        <p>
            <h2>Severance</h2>
        </p>
        <p>
            If any term condition or provision contained in these terms of use shall be held to be invalid unlawful or unenforceable to any extent such term condition
            or provision shall not affect the validity legality or enforceability of the remaining parts of these terms which shall remain in full force and effect.
        </p>
        <p>
            <h2>Waiver</h2>
        </p>
        <p>
            The failure or delay of the NATIONAL RENTERS ALLIANCE to exercise or enforce any right in these terms does not waive the NATIONAL RENTERS ALLIANCE’s right
            to enforce that right.
        </p>
        </div>
    </div>
{% endblock %}



