{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Represent - What is leasehold?{% endblock %}
{% block description %}Find out what it means to be a leaseholder.{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

              <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent Renters</h1>
                <h1 align="center"><small style="color:white">What is leasehold?</small></h1>
              </div>
            </div>
        </div>

<!--FAQs-->
<div class="container-fluid">
    <div class="col-md-6 col-md-offset-1">

        <div class="page-header">
            <h1>How to get your tenancy deposit protected<br>
                <small>Find out what it means to be a leaseholder.</small>
            </h1>
        </div>

    <h2>What is leasehold?</h2>
        <p>With leasehold the freeholder owns the land your home is built on. When you buy your home, you lease it from a freeholder.</p>
        <p>Leasehold is the way most flats are owned. Houses can also be leasehold, for example some new builds and those bought through a
            <a title="See also: Shared-ownership schemes"
               href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/shared_ownership_schemes">
                shared-ownership scheme</a>.</p>
        <p>Leasehold is like having a very long tenancy. You have a legal agreement with the freeholder called a lease which allows
            you to own your property for a fixed number of years.</p>
        <p>When it is first created, a lease usually lasts between 99 and 125 years, but it can be for as long as 999 years.
            Each year the number of years left on the lease reduces.</p>
        <p>Check how many years are left on a lease before you buy. The number of years left on lease affects the cost
            of your home and its resale value.</p>
        <p>You can usually pay to extend a lease before it expires.</p>

    <h2>About the lease</h2>
        <p>A lease is the legal agreement between a leaseholder and a freeholder.&nbsp;It sets out their rights and responsibilities.</p>
        <p>For example:</p>
        <ul>
            <li>how much
                <a href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/ground_rent_for_leaseholders"
                   title="See also: Ground rent for leaseholders">ground rent</a>
                costs and when it can be increased</li>
            <li>how
                <a href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/leasehold_service_charges_explained"
                   title="See also: Leasehold service charges explained">service charges</a> are calculated and paid</li>
            <li>who is responsible for
                <a href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/responsibility_for_leaseholder_repairs"
                   title="See also: Repairs to your home and shared facilities">minor repair and major works</a></li>
            <li>how repairs are paid for</li>
            <li>when the freeholder's permission is needed for alterations</li
            ><li>who is responsible for arranging buildings insurance</li>
        </ul>
        <p>Both you and the freeholder must keep to the conditions of the lease. If one of you doesn't, the other can take legal action.</p>
        <p>Always check what is written in your lease. Most of your rights and obligations are set out in it.</p>

    <h2>Shared-ownership leasehold</h2>
        <p>Shared-ownership leasehold is where the leaseholder owns a share of the property and rents the remaining share,
            usually from a housing association.</p>
        <p>The leaseholder can usually buy more shares until they own the whole home. The housing association may have first refusal
            when you want to sell.</p>
        <p class="advice-highlight external-link">Find out more from the Leasehold Advisory Service about&nbsp;
        <a title="Leasehold Advisory Service- shared ownership leases"
           href="http://england.shelter.org.uk/legal/home_ownership/sharedlow-cost_home_ownership/staircasing/essential_links/leasehold_advisory_service_-_shared_ownership_leases"
           target="_blank">shared-ownership leases</a>.</p>

    <h2>Role of the freeholder</h2>
        <p>The freeholder owns the land your home is built on.&nbsp;The freeholder can be an individual, a private company,
            a council or a housing association.</p>
        <p>Many leaseholders have no direct contact with the freeholder and deal with a managing agent instead.</p>
        <p>You may be able to become the freeholder by buying the freehold.</p>
        <p>Find out more from the Leasehold Advisory Service about
            <a href="./?a=27678" title="Link to Leasehold Advisory Service - buying the freehold"
               target="_blank">buying the freehold</a>.</p>

    <h2>How to find the freeholder</h2>
        <p>Leaseholders have the right to know the freeholder's name and an address in England or Wales where they can be contacted.
            Your freeholder or managing agent can be fined if they do not give you this information after you write to ask for it.</p>
        <p>All your service charge and ground rent bills must include the name and address of the freeholder,
            even if a managing agent sends the bills.</p>
        <p>You don't have to pay until you have these details. When you have the details you must pay the full amount that is due.</p>
        <p>If the managing agent won't give you the details you can ask the
            <a href="./?a=264203" title="Link to Gov.uk - Search for property information from Land Registry"
               target="_blank">Land Registry</a> for the title register of your property. You can do this online or by
            filling out a form. You have to pay a small fee.</p>
        <p>If your freeholder can't be found, you can
            <a href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/leaseholder_tribunal"
               title="See also: Leaseholder tribunal">apply to the leaseholder tribunal</a> to appoint a manager of the freehold.</p>

    <h2>Leasehold charges</h2>
        <p>Leaseholders usually have to pay charges to the freeholder or their managing agent.</p>
        <p>Your lease says what
            <a href="http://england.shelter.org.uk/housing_advice/shared_ownership_leasehold/leasehold_service_charges_explained"
               title="See also: Leasehold service charges explained">charges you have to pay</a>.
            This usually includes:</p>

        <ul>
            <li>ground rent</li>
            <li>service charges for general maintenance and repairs</li>
            <li>a share of the buildings insurance</li>
            <li>a contribution to a sinking fund to cover the cost of future repair works</li>
        </ul>

    <h2>Extending a lease</h2>
        <p>Extending a lease can add value to your property, especially if you have a short lease.</p>
        <p>To be allowed to extend, you need to have owned the property for at least two years.</p>
        <p>Find out more from Money Saving Expert about&nbsp;
            <a href="./?a=1280222"
               title="Link to MoneySavingExpert - Extend your lease" target="_blank">extending your lease</a>.</p>

    <h2>Further advice about leasehold</h2>
        <p>Contact the <a title="Link to Leasehold Advisory Service" href="./?a=25483"
                          target="_blank">Leasehold Advisory Service</a>
            if you need advice about your rights as a leaseholder or are having problems with your freeholder.</p>

    </div>
</div>

{% endblock %}





