{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Probates and Estates{% endblock %}
{% block description %}Represent Law Probate and Estates services{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

             <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent: Probate & Estates </h1>
                <h1 align="center"><small style="color:white">Helping you today and tomorrow</small></h1>
            </div>
            </div>
        </div>

<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1 align="center">Probate and Administration of Estates

            </h1>
        </div>


            <p>Executors appointed under a Will are responsible for ensuring that the deceased’s wishes are carried out.
                To cash in or transfer assets out of the estate, a Grant of Probate is often needed. </p>

            <p>In cases where there is no Will, we can help you deal with the matter under intestacy rules set out by
                the law.</p>

            <p>We can advise what the tax implications are and help you make sure you make the most of any exemptions or
                reductions of tax available to you under the law. We can assist with matters including transferable nil
                rate bands, business property relief, spouse exemption and Deeds of Variation. </p>

            <p>At Represent we are able to assist by offering a bespoke set of services, depending on your individual
                requirements. We can manage your whole estate from start to finish, or we can just obtain the Grant. If
                needed, our level of support can sit between the two. Before getting started, we will ask for
                information to get a firmer idea of what it is you need from us, agreeing upon either a fixed price for
                the work we do or a detailed estimate ahead of time.</p>

            <h1 align="center">Wills & Contentious Probate</h1>

            <p>For more information on our will support services, please see our <a
                        href="{% url 'website:wills-trusts' %}">Wills and Trusts page</a>.</p>

            <p>In the case of Contentious Probate - that is, where you wish to challenge a will, bring a claim against
                an estate where there is no valid Will or someone is seeking to make such a claim where you are an
                Executor - Represent will be on hand to advise you. We can also
                <a href="{% url 'website:power-attorney-home' %}">help you bring claims</a> under the
                Inheritance (Provisions for Family and Dependents) Act 1975.</p>
        </div>
</div>

{% endblock %}



