{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

{% block title %}Probates and Estates{% endblock %}
{% block description %}Represent Law Probate and Estates services{% endblock %}
{% block author %}Represent{% endblock %}

{% block head %}
    <link href="{% static 'website/img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />
    <link rel="icon" type="image/jpg" sizes="32x32" href="/website/img/represent_icon2.jpg">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
{% endblock %}

{% block body %}

<!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron" style="background-color:black">
            <div class="container">

             <div class="bs-docs-header">
                <h1 style="color:white" align="center">Represent</h1>
                <h1 align="center"><small style="color:white">Property & Deeds</small></h1>
            </div>
            </div>
        </div>

<div class="container-fluid">
    <div class="col-md-6 offset-md-2">

        <div class="page-header">
            <h1 align="center">Conveyancing Residential Property</h1>
        </div>

        <p>Our firm has always benefited from a thriving residential property department, helping our team to
                develop a high level of knowledge and expertise. Our commitment to providing a comprehensive and
                supportive service throughout the conveyancing process means that you’ll be guided through every step of
                the process and given full explanation at any stage.</p>

            <p>At Represent, we know that moving house is often very stressful and time-consuming, so we’re here to
                make it as easy as possible by using our extensive experience to guide our clients through the process,
                providing you with accurate information and advice on procedure.</p>

            <h1>We can help with the following:</h1>

            <ul class="list">
                <li class="list__item">Buying and selling your home</li>
                <li class="list__item">Buying and selling investment property</li>
                <li class="list__item">Selling or transferring property following the death of an owner</li>
                <li class="list__item">Buy to lets for individual or portfolio investors</li>
                <li class="list__item">Shared ownership property</li>
                <li class="list__item">Remortgaging</li>
                <li class="list__item">Transfers of equity</li>
                <li class="list__item">Matrimonial transfers</li>
                <li class="list__item">Equity release mortgages</li>
                <li class="list__item">Selling or buying property at auction</li>
                <li class="list__item">Options to purchase and conditional contracts</li>
                <li class="list__item">Purchase of land for development</li>
                <li class="list__item">Plot sales</li>
                <li class="list__item">Voluntary first registrations</li>
            </ul>

        </div>
</div>

{% endblock %}



