<!DOCTYPE html>
{% load staticfiles %}
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon" type="image/x-icon" />

    <!--TITLE-->
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

        {% block head %}
    {% endblock %}

    <!--CSS Files -->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/ie10-viewport-bug-workaround.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}" />-->

    <!--<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ie10-viewport-bug-workaround.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">



    <!--JS-->
    <script type="text/javascript" src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'website:about' %}">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blog:list_of_post' %}">Blog</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href="/services" id="navbarDropdown" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!--<a class="dropdown-item" href="#">Family</a>
                            <a class="dropdown-item" href="#">Conveyancing</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Probate</a>-->

                            <a class="dropdown-item" href="{% url 'website:wills' %}">Wills</a>
                  <a class="dropdown-item" href="{% url 'website:probate-home' %}">Probate and Estates</a>
                  <a class="dropdown-item" href="{% url 'website:conveyancing-residential-home' %}">Buying a house</a>
                    <a class="dropdown-item" href="{% url 'website:conveyancing-residential-home' %}">Conveyancing (residential)</a>
                    <a class="dropdown-item" href="{% url 'website:conveyancing-commercial-home' %}">Commerical Conveyancing</a>
                    <a class="dropdown-item" href="{% url 'website:employment-home' %}">Employment law</a>
                  <a class="dropdown-item" href="{% url 'website:conveyancing-residential-home' %}">Selling a house</a>
                  <a class="dropdown-item" href="{% url 'website:leasehold-what_is_leasehold' %}">Extend my leasehold</a>
                  <a class="dropdown-item" href="{% url 'website:conveyancing-commercial-home' %}">Commercial law</a>
                  <a class="dropdown-item" href="{% url 'website:family-home' %}">Family law</a>
                  <a class="dropdown-item" href="{% url 'website:family-home' %}">Divorce</a>
                  <a class="dropdown-item" href="{% url 'website:power-attorney-home' %}">Lasting power of attorney</a>

                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'website:litigation-home' %}">Litigation</a>
                  <a class="dropdown-item" href="{% url 'website:litigation-home' %}">Debt recovery</a>
                  <a class="dropdown-item" href="{% url 'website:renting-home' %}">Landlord & Tenant Law</a>
                  <!--<li><a href="#">Immigration</a></li>-->
                   <div class="dropdown-divider"></div>

                            <a class="dropdown-item" href="/contact">Other</a>

                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Us</a>
                    </li>

                    <!--TODO Add search functionality to form-->
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </ul>



                {% if user.is_authenticated %}
                    <!-- TEST -->
                    <ul class="navbar-nav navbar-right">
                         <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:view_profile' %}">My Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:change_password' %}">Change Password</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:logout' %}">logout <span class="sr-only">(current)</span></a></li>
                    </ul>

                {% else %}
                        <ul class="navbar-nav navbar-right">
                            <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:login' %}">login</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:reset_password' %}">Reset password</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'myaccount:register' %}">Register</a></li>
                        </ul>
                  {% endif %}

            </div>
        </nav>


    {% block body %}
    {% endblock %}

    {% block content %}
    {% endblock %}


<footer>
  <div class="container" style="margin-top: 20px">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter">
            <img src="{% static 'images/represent_logo_sized.jpg' %}" alt="Represent Logo"/>
        </div>

          <p>Represent Law Limited VAT Reg. No.: 287518265 Registered in England and Wales, No. 10857999 <br>
          Regulated by the Solicitors Regulation Authority Registration No.SRA 641577
          </p>
        <p><i class="fa fa-map-pin"></i> 63 Sandbourne Avenue, Wimbledon, London, SW19 3EH</p>

          <p><i class="fa fa-phone"></i> {{ telephone }}</p>
          <p><i class="fa fa-envelope"></i>
              <a href="mailto: {{ represent_contact_email }}">{{ represent_contact_email }}</a></p>
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Careers</a></li>
          <li><a href="{% url 'website:privacy-policy' %}">Privacy Policy</a></li>
          <li><a href="{% url 'website:terms_and_conditions' %}">Terms & Conditions</a></li>
          <!--<li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> FAQs</a></li>-->
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">

        <h6 class="heading7">LATEST POSTS</h6>
          <div class="post">
              {% for post in posts %}
                <p><a href="{{post.get_absolute_url}}">{{ post.title }}</a><span>Posted on {{post.published}}</span></p>
              {% endfor %}
          </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="col-sm-10 social-buttons">
            <h6 class="heading7">SOCIAL MEDIA</h6>
            <a href="https://www.facebook.com/NationalRentersAlliance/" class="btn btn-block btn-social btn-facebook">
              <i class="fa fa-facebook"></i> Visit us on Facebook
            </a>
            <a href="https://twitter.com/renter_alliance" class="btn btn-block btn-social btn-twitter">
              <i class="fa fa-twitter"></i> Visit us on Twitter
            </a>
            <a href="https://plus.google.com/114376859114257839374/about" class="btn btn-block btn-social btn-google-plus">
              <i class="fa fa-google-plus"></i> Visit us on Google+
            </a>
            <a href="https://www.linkedin.com/in/national-renters-alliance-6a6988120" class="btn btn-block btn-social btn-linkedin">
              <i class="fa fa-linkedin"></i> Visit us on Linkedin
            </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6" style="text-align:center">
      <p>Copyright © 2015 -  {% now "Y" %} National Renters Alliance Ltd. All rights
			reserved. </p>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


        {% block js_files %}
        {% endblock %}

        <script>
            //OFF CANVAS MENU FUNCTION
            $(document).ready(function () {
              $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
              });
            });
        </script>

</body>
</html>